body {
  margin: 0;
  /*   background: url("../assets/DietLife.png");
 */ /* background-color: #e5e5e5; */
  background-image: url("https://img.freepik.com/foto-gratis/marco-frutas-verduras-vista-superior_23-2149235868.jpg?w=2000");

  font-family: "Comfortaa", cursive;
  font-family: "Creepster", cursive;
  font-family: "Macondo", cursive;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Rubik", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
