div.home__recipes {
  margin: 3em 8em 3em 8em;

  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  justify-items: center;
  align-items: center;
}
.filterPages {
  display: grid;
  grid-template-rows: 3em 3em;
  grid-template-areas:
    ". f ."
    ". p .";
  background-color: #282a35;
  text-align: center;
}
.filters {
  color: #ffffff;
  background: none;
  grid-area: f;
}
.pages__li {
  text-align: center;
}
ul.pages__ul {
  height: 2em;
  grid-area: p;
}
label {
  margin-left: 1em;
  margin-right: 1em;
}
button.pages__btn {
  width: 3em;
  height: 1.4em;
  background-color: #ffffff;
  color: #282a35;
  margin: 0.1em;
}
