.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ee352a;

  
}
.navbar__li {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  background-color: #ee352a;
  margin: 0;
  padding: 0;
}

.navbar__btn {
  color: #ffffff;
  width: fit-content;
  font-size: 2em;

  margin: 0;
  padding: 0;
}

a:link {
  color: #282a35;
  text-decoration: none;
  margin: 2em;
}
a:link:hover {
  text-decoration: underline;
}
.navbar__logo {
  width: 10em;
  height: 10em;
  margin: 0;
}
