.searchbar {

width: 270px;
}
.searchbar__input {
  background-color: #282a35;
  color: #ffffff;
  height: 3em;
  width: 10em;
  margin-top: 0;
  padding: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px ;
  font-size: large;
}

.searchbar__btn {
  background-color: #282a35;
  color: #ffffff;
  height: 3em;
  width: 4em;
  padding: 0;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius:0 ;

}
.searchbar__btn:hover {
  color: #282a35;
  background-color: #ffffff;
}
